# Этот файл содержит список библиотек, необходимых для работы проекта.
#
# 1. Установите эти библиотеки командой:
#    pip install -r requirements.txt
#
# 2. После этого загрузите языковую модель для spaCy:
#    python -m spacy download en_core_web_sm

# Основной фреймворк для работы с LLM
google-generativeai

# Графический интерфейс
customtkinter>=5.2.0

# Обработка естественного языка (NER, сегментация предложений)
spacy>=3.0.0

# Семантический поиск (переранжирование)
sentence-transformers

# Ядро системы агентов
langgraph
pymorphy3
pymorphy3-dicts-ru